<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, animi illum est deleniti sint id cum, eveniet officia quod modi, iste voluptas! Maxime odio quaerat voluptatum quo optio facere aspernatur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, animi illum est deleniti sint id cum, eveniet officia quod modi, iste voluptas! Maxime odio quaerat voluptatum quo optio facere aspernatur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, animi illum est deleniti sint id cum, eveniet officia quod modi, iste voluptas! Maxime odio quaerat voluptatum quo optio facere aspernatur.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>